@model IEnumerable<EmpresaDistribuidora.Models.Producto>

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row">
        <h1>Productos</h1>
        <form class="form-inline">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="Clave" class="col-form-label">Clave de Producto:</label>
                    <input type="text" id="Clave" name="Clave" class="form-control" />
                </div>

                <div class="col-md-6 mb-3">
                    <label for="Categoria" class="col-form-label">Categoria:</label>
                    <select type="text" id="Categoria" name="Categoria" class="form-control">
                        <option value="">Seleccione</option>
                        <option value="1">Electrónicos</option>
                        <option value="2">Alimentos</option>
                        <option value="3">Moda</option>
                        <option value="4">Hogar</option>
                        <option value="5">Jardinería</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg grid">Buscar</button>
            </div>
        </form>

     


        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clave)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                   
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Editar" asp-controller="Producto" asp-route-productoId="@item.ProductoId" data-toggle="modal" data-target="#myModal" data-backdrop="static">Edit</a>
                        <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Producto" asp-route-productoId="@item.ProductoId" data-toggle="modal" data-target="#myModal" data-backdrop="static">Eliminar</a>
                    </td>
                </tr>
        }       
            </tbody>
        </table>
        <a asp-action="Registrar" class="btn btn-success">Crear Producto</a>
    </div>
</div>





    <!-- Modal -->
<div id="myModal" class="modal fade flex" role="dialog">
    <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
            </div>
    </div>
</div>
