@model IEnumerable<EmpresaDistribuidora.Models.Producto>

@{
    ViewData["Title"] = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
	<div class="row pt-5">
        <h1>Productos</h1>
        <form class="form-inline pt-5 pb-5">
            <div class="row">
                <div class="col-md-5">
                    <label for="Clave" class="form-label">Clave de Producto:</label>
                    <input type="text" id="Clave" name="Clave" class="form-control" />
                </div>

                <div class="col-md-3">
                    <label for="Categoria" class="form-label">Categoria:</label>
                    <select type="text" id="Categoria" name="Categoria" class="form-control">
                        <option value="">Seleccionar</option>
                        @foreach (var categoria in (List<SelectListItem>)ViewData["Categorias"])
                        {
                            <option value="@categoria.Value">@categoria.Text</option>
                        }
                    </select>
                </div>          
                
                <button type="submit" class="btn btn-primary col-sm-2">Buscar</button>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NombreProducto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Clave)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreProducto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Clave)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                   
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-primary btn-sm" asp-action="Editar" asp-controller="Producto" asp-route-productoId="@item.ProductoId" data-toggle="modal" data-target="#myModal" data-backdrop="static">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-action="Eliminar" asp-controller="Producto" asp-route-productoId="@item.ProductoId" data-toggle="modal" data-target="#myModal" data-backdrop="static">Eliminar</a>
                        </div>
                    </td>
                </tr>
        }       
            </tbody>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end pt-5">
            <a asp-action="Registrar" class="btn btn-success">Crear Producto</a>
        </div>
    </div>
</div>

    <!-- Modal -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="container-sm">
                <div class="modal-body">
                   



                </div>          
            </div>
        </div>
    </div>
</div>