@model EmpresaDistribuidora.Models.Producto
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Agregar Producto
    </div>

    <div class="card-body">
        <div class="row aling-items-end">
            <div class="col-sm-4">
                <div class="mb-2">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="textNombreProducto" placeholder="Nombre Producto" required />
                    <span for="NombreProducto" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-2">
                    <label class="form-label">Clave</label>
                    <input type="text" class="form-control" id="textClave" placeholder="Clave producto" required />
                    <span for="Clave" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="mb-2">
                    <label class="form-label">Tipo Producto</label>
                    <select class="form-control" id="selectCategoria" required>
                        <option value="">Seleccionar</option>
                        @foreach (var categoria in (List<SelectListItem>)ViewData["Categorias"])
                        {
                            <option value="@categoria.Value">@categoria.Text</option>
                        }
                    </select>
                    <span for="CategoriaId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-2">
                    <label class="form-label">Precio</label>
                    <input type="text" class="form-control" placeholder="Precio al consumidor" id="textPrecio" required />
                    <span for="Precio" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-2">
                    <label class="form-check-label" for="EsActivo">Es Activo</label>
                    <input class="form-check-input" type="checkbox" id="checkboxEsActivo" required />
                    <span for="EsActivo" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12">
                <table class="table" id="tablaProveedores">
                    <thead>
                        <tr>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Clave Proveedor</th>
                            <th scope="col">Costo</th>
                            <th></th>
                        </tr>
                    </thead>    

                    <tbody>

                    </tbody>

                </table>
            </div>
        </div>

    </div>  
</div>

<div class="form-inline pt-5">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <button type="button" class="btn btn-primary mb-2 btn-sm me-auto" data-toggle="modal" data-target="#agregarProveedorModal">Agregar Proveedor</button>
        <button type="submit" asp-action="Registrar" class="btn btn-success mb-2 btn-sm" id="buttonGuardarProducto">Guardar</button>
        <a asp-action="Inicio" class="btn btn-warning mb-2 btn-sm">Volver</a>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="agregarProveedorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Proveedor</h5>
            </div>

            <div class="modal-body">
                <div class="mb-2">
                    <label class="form-check-label" for="textoProveedorModal">Proveedor</label>
                    <select class="form-control" id="textoProveedorModal" required>
                        <option value="">Seleccionar</option>
                        @foreach (var proveedor in (List<SelectListItem>)ViewData["Proveedor"])
                        {
                            <option value="@proveedor.Value">@proveedor.Text</option>
                        }
                    </select>
                    <span id="errorProveedor" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label class="form-check-label" for="textoClaveProveedorModal">Clave Proveedor</label>
                    <input class="form-control" type="text" id="textoClaveProveedorModal" />
                    <span id="errorClaveProveedor" class="text-danger"></span>
                </div>

                <div class="mb-2">
                    <label class="form-check-label" for="CostoProveedorModal">Costo Proveedor</label>
                    <input class="form-control" type="text" id="textoCostoProveedorModal" />
                    <span id="errorCostoProveedor" class="text-danger"></span>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="botonConfirmarProveedor">Confirmar</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function validarCamposProveedor(proveedor, claveProveedor, costoProveedor) {
            var error = false;

            if (proveedor.trim() === "") {
                $("#errorProveedor").text("Por favor, ingresa el nombre del proveedor.");
                error = true;
            } else {
                $("#errorProveedor").text("");
            }

            if (claveProveedor.trim() === "") {
                $("#errorClaveProveedor").text("Por favor, ingresa la clave del proveedor.");
                error = true;
            } else {
                $("#errorClaveProveedor").text("");
            }

            if (isNaN(parseFloat(costoProveedor))) {
                $("#errorCostoProveedor").text("Por favor, ingresa un costo de proveedor válido.");
                error = true;
            } else {
                $("#errorCostoProveedor").text("");
            }
            return !error;
        }

        $("#buttonAgregarProveedor").on("click", function () {

            $("#textoProveedorModal").val("");
            $("#textoClaveProveedorModal").val("");
            $("#textoCostoProveedorModal").val("");

            $("#agregarProveedorModal").modal("show");
        });

        $("#botonConfirmarProveedor").on("click", function () {
            var proveedor = $("#textoProveedorModal").val();

            var claveProveedor = $("#textoClaveProveedorModal").val();
            var costoProveedor = $("#textoCostoProveedorModal").val();

            if (validarCamposProveedor(proveedor, claveProveedor, costoProveedor)) {

                $("#tablaProveedores tbody").append(
                    $("<tr>").append(
                        $("<td>").text(proveedor),
                        $("<td>").text(claveProveedor),
                        $("<td>").text(costoProveedor),
                        $("<td>").append(
                            $("<button>").addClass("btn btn-danger").text("Eliminar").on("click", function () {
                                $(this).closest("tr").remove();
                            })
                        )
                    )
                );

                $("#textoProveedorModal").val("");
                $("#textoClaveProveedorModal").val("");
                $("#textoCostoProveedorModal").val("");

                $("#agregarProveedorModal").modal("hide");
            }
        });

        $("#buttonGuardarProducto").on("click", function () {
            var productoProveedorList = []

            $("#tablaProveedores > tbody > tr").each(function (index,tr) {
                productoProveedorList.push(
                    {
                        ProveedorId: parseInt($(tr).find("td:eq(0)").text()),
                        ClaveProveedor: $(tr).find("td:eq(1)").text(),
                        PrecioProveedor: parseFloat($(tr).find("td:eq(2)").text())
                    }
                )

            })

            var productoProveedor = {
                NombreProducto: $("#textNombreProducto").val(),
                Clave: $("#textClave").val(),
                CategoriaId: parseInt($("#selectCategoria").val()),
                Precio: parseFloat($("#textPrecio").val()),
                EsActivo: $("#checkboxEsActivo").prop("checked"),
                ProductosProveedores: productoProveedorList
            }

            console.log(productoProveedor);

            jQuery.ajax({
                url: "@Url.Action("Registrar","Producto")",
                type: "POST",
                data: JSON.stringify(productoProveedor),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    if (data.respuesta) {
                        alert("Producto creado con exito")
                        window.location.href = "/Producto/Inicio";
                    }else {
                        alert("Producto Invalido")
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Error en la solicitud AJAX:", status, error);
                }
            });
        })
    </script>
} 
 